# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.env
.DS_Store

# --- Virtual environments ---
.venv/
.env.apicalls/
venv/
env/
ENV/


.env.apicalls
confluence_api/
zoho_api/


# --- VS Code / IDEs ---
.vscode/
.idea/

# --- OS files ---
Thumbs.db
